<div *ngIf="showAlertMessage" class="flex justify-center">
  <div id="msg" class="fixed min-w-[90%] sm:min-w-[40%] top-5 p-5 z-50 text-sm rounded-lg" role="alert"
    [ngClass]="messageColor ? messageColor : ''">
    {{message}}.
  </div>

</div>
<section class="min-h-screen bg-[url('assets/background/login.webp')] bg-cover">
  <div class="backdrop-blur-sm flex flex-col items-center justify-center px-6 py-8 mx-auto h-screen lg:py-0">
    <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0  ">

      <div>
        <img class="h-[200px] max-w-full mx-auto mt-10" src="assets/logo/logo_pink_transparent.png">
      </div>

      <div class="text-center">
        <h1 class="mx-auto text-lg max-w-full  font-medium ">Bienvenido a tu Comunidad</h1>
        <p class="mx-auto text-sm ml-2 mt-2  font-medium text-gray-500">Bienvenido a COMUNILAB un espacio para
          interactuar con las ideas y proyectos para mejorar tu comunidad </p>
      </div>

      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-sm font-bold leading-tight tracking-tight text-gray-900 md:text-2xl ">
          Iniciar sesión
        </h1>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-4 md:space-y-6">

          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">Email</label>
            <input type="email" formControlName="email" name="email" id="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
              placeholder="email@example.com" autocomplete="email" required="">
            <label *ngIf="hasError('email', 'email')" class="text-sm text-red-600" for="email">
              Recuerda ingresar un email válido
            </label>
          </div>

          <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">Contraseña</label>
            <input type="password" autocomplete="current-password" formControlName="password" name="password"
              id="password" placeholder="••••••••"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
              required="">
            <label *ngIf="submitted && loginError" class="text-sm text-red-600" for="password">
              {{errorMsg}}
            </label>
          </div>

          <button type="submit"
            class="w-full text-white bg-pink-600 hover:bg-pink-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
            Iniciar sesión
          </button>

        </form>

      </div>
    </div>

  </div>
</section>
