@keyframes slideInFromLeft {
  0% {
    transform: translateX(-25%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.carousel-item {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}