.map-container {
  position: relative;
  display: inline-block; 
}

.badge-and-name {
  display: flex;
  align-items: center;
  gap: 10px;  
}
  
.circle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgb(98, 198, 61);
  border: 3px solid rgb(29, 84, 9);
  border-radius: 50%; 
  transform: translate(-50%, -50%); /* Para que el círculo se centre en el punto del clic */
  animation: circle 1s infinite; /* Aplicamos la animación "latido" que dura 1 segundo y se repite infinitamente */
}

@keyframes circle {
  0%, 100% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
}

.auto-change-color {
  animation: autoColorChange 2s infinite;
}

@keyframes autoColorChange {
  0%, 100% {
      background-color: rgb(98, 198, 61);  /* Estado inicial y final: color azul */
  }
  50% {
      background-color: rgb(29, 84, 9);   /* En el 50% del tiempo, cambia a color rojo */
  }
}
