<div *ngIf="loading" class="flex items-center justify-center">
  <div class="fixed top-[40%] my-auto">
    <fa-icon class="text-5xl text-teal-500" animation="spin" [icon]="faSpinner"></fa-icon>
  </div>
</div>

<div *ngIf="!loading" class="grid grid-rows-1 grid-cols-2 py-5 pl-5">
  <p class="font-bold text-3xl flex items-center">Buscar QR</p>
  <div class="w-auto ml-auto mr-4">
    <button [routerLink]="'/qrlocation/form'"
      class="block text-white bg-teal-600 hover:bg-teal-800 focus:ring-4 focus:outline-none focus:ring-teal-300 font-medium rounded-lg text-sm mx-5 my-5 px-5 py-2.5 text-center sm:max-w-fit sm:ml-auto"
      type="button">
      Crear
    </button>
  </div>
</div>

<div *ngIf="!loading">
  <app-master-table [columns]="columns" [records]="allRecords" (dataToShow)="updateRecordsToShow($event)">
    <tr *ngFor="let item of recordsToShow" [routerLink]="'/qrlocation/'+item.id" class="hover:bg-gray-100">
      <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap">
        {{ item['name']}}
      </td>
      <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap">
        <div *ngIf="item['is_active']" class="flex items-center">
          <div class="h-2.5 w-2.5 rounded-full bg-green-500 mr-2"></div> Activo
        </div>
        <div *ngIf="!item['is_active']" class="flex items-center">
          <div class="h-2.5 w-2.5 rounded-full bg-red-500 mr-2"></div> Inactivo
        </div>
      </td>
      <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap">
        {{ item['created_at'] | date }}
      </td>
    </tr>
  </app-master-table>
</div>
